# Node modules
**/node_modules/**

# npm config
.npmrc

# Build files
packages/*/lib/

# Vuepress Cache
**/.vuepress/.cache/**
# Vuepress Temp
**/.vuepress/.temp/**
# Vuepress Output
dist/

# Typescript build info
*.tsbuildinfo


.vscode
.idea
.DS_Store
